*.log
*.m4f
*.tmp
*.AC
*.ACs
*.AT
*.ATs
*.CA
*.CAs
*.MS
*.MSs
*.aux
*.cp
*.cps
*.cv
*.cvs
*.ev
*.evs
*.fn
*.fns
*.ky
*.ov
*.ovs
*.pg
*.pr
*.prs
*.toc
*.tp
*.vr
*~
.#*
.version
.dirstamp
CVS
autoconf-[0-9].*
Makefile
bin/Makefile
bin/autoconf
bin/autoconf.in
bin/autoheader
bin/autom4te
bin/autoreconf
bin/autoscan
bin/autoupdate
bin/ifnames
config.log
config.status
doc/Makefile
doc/autoconf.info
doc/stamp-vti
doc/standards.info
doc/version.texi
lib/Autom4te/Makefile
lib/Makefile
lib/autoconf/Makefile
lib/autoconf/autoconf.m4f
lib/autom4te.cfg
lib/autoscan/Makefile
lib/autotest/Makefile
lib/autotest/autotest.m4f
lib/emacs/Makefile
lib/emacs/elc-stamp
lib/m4sugar/Makefile
lib/m4sugar/m4sh.m4f
lib/m4sugar/m4sugar.m4f
lib/m4sugar/version.m4
man/Makefile
tests/Makefile
tests/atconfig
tests/atlocal
tests/autoconf
tests/wrapper.in
/man/*.[1-9]
/man/*.[1-9].[a-z]