[submodule "libs/somes"]
	path = libs/somes
	url = https://github.com/louis-tru/somes.git
[submodule "libs/qkmake"]
	path = libs/qkmake
	url = https://github.com/louis-tru/qkmake.git
[submodule "libs/quark"]
	path = libs/quark
	url = https://github.com/louis-tru/quark-ts.git
[submodule "deps/v8-link"]
	path = deps/v8-link
	url = https://github.com/louis-tru/v8-link.git
[submodule "deps/ffmpeg"]
	path = deps/ffmpeg
	url = https://github.com/louis-tru/ffmpeg.git
[submodule "deps/node"]
	path = deps/node
	url = https://github.com/louis-tru/node.git
[submodule "deps/btree"]
	path = deps/btree
	url = https://github.com/louis-tru/btree.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/louis-tru/libuv.git
[submodule "deps/v8"]
	path = deps/v8
	url = https://github.com/louis-tru/v8.git
[submodule "deps/skia"]
	path = deps/skia
	url = https://github.com/louis-tru/skia.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/louis-tru/freetype.git
[submodule "deps/fastuidraw"]
	path = deps/fastuidraw
	url = https://github.com/louis-tru/fastuidraw.git
	