[submodule "libs/somes"]
	path = libs/somes
	url = https://github.com/louis-tru/somes.git
[submodule "libs/qkmake"]
	path = libs/qkmake
	url = https://github.com/louis-tru/qkmake.git
[submodule "deps/ffmpeg"]
	path = deps/ffmpeg
	url = https://github.com/louis-tru/ffmpeg.git
[submodule "deps/libbptree"]
	path = deps/libbptree
	url = https://github.com/louis-tru/libbptree.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/louis-tru/libuv.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/louis-tru/freetype.git
[submodule "deps/libgif"]
	path = deps/libgif
	url = https://github.com/louis-tru/libgif.git
[submodule "deps/libjpeg"]
	path = deps/libjpeg
	url = https://github.com/louis-tru/libjpeg.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/louis-tru/libpng.git
[submodule "deps/libwebp"]
	path = deps/libwebp
	url = https://github.com/louis-tru/libwebp.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/louis-tru/rapidjson.git
[submodule "deps/reachability"]
	path = deps/reachability
	url = https://github.com/louis-tru/reachability.git
[submodule "deps/libtess2"]
	path = deps/libtess2
	url = https://github.com/louis-tru/libtess2.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/louis-tru/tinyxml2.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/louis-tru/zlib.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/louis-tru/openssl.git
[submodule "deps/http_parser"]
	path = deps/http_parser
	url = https://github.com/louis-tru/http_parser.git
[submodule "deps/v8"]
	path = deps/v8
	url = https://github.com/louis-tru/v8.git