out
.svn
.DS_Store
*.DS_Store
node_modules/.bin
ftr.sublime-workspace
*jsa-shell
.idea
*.o
*.a
*.so
.vscode
node_modules
libs/ftr/out
.node_modules
package-lock.json
examples/**.js
bench/**.js
deps/skia
*.pyc
deps.bk