out
.svn
.DS_Store
*.DS_Store
node_modules/.bin
noug.sublime-workspace
*jsa-shell
.idea
*.o
*.a
*.so
.vscode
node_modules
libs/noug/out
.node_modules
package-lock.json
examples/**.js
bench/**.js
*.pyc
libs/test
deps/bplus