<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-feature
		android:name="android.hardware.vulkan.level"
		android:required="true"
		android:version="0" />

	<application
		android:allowBackup="false"
		android:hasCode="false"
		android:label="test vk"
		android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
		<activity
			android:name="android.app.NativeActivity"
			android:configChanges="orientation|screenSize"
			android:exported="true">
			<meta-data
				android:name="android.app.lib_name"
				android:value="test_vk" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
