<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>xxxxxxxxxx</string>
	<key>DTSDKName</key>
	<string>iphoneos11.2</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTSDKBuild</key>
	<string>15C107</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>11.11.11</string>
	<key>BuildMachineOSBuild</key>
	<string>17C88</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>11.11.11</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>xxxxxxxxxx</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.langou.xxxxxxxxxx</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTPlatformVersion</key>
	<string>11.2</string>
	<key>CFBundleDisplayName</key>
	<string>xxxxxxxxxx</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>DTPlatformBuild</key>
	<string>15C107</string>
</dict>
</plist>
